*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  color: #ffffff;
  font-family: 'Roboto Mono',monospace;
  user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('https://user-images.githubusercontent.com/92547909/157518440-0100f97d-e1c5-46c3-8505-c35afd9cf414.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.container {
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
}
  
.page-title {
  padding-top: 40px;
}
  
.page-subtitle {
  margin-top: 5px;
}
  
.page-logo {
  width: 200px;
  margin: 20px;
}
  
.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.name {
  width: 150px;
  position: absolute;
  top: 11px;
  right: 58px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  margin-top: 15px;
  padding: 5px;
  font-weight: bolder;
  cursor: pointer;
  color: #ffffff;
  background: #0000;
  border: 1px solid;
  backdrop-filter: blur(8px);
  border-radius: 2px;
}

button:hover{
  background: #ffffff;
  color: #000;
  border: none;
}

.media{
  margin-top: 15px;
  padding: 9px;
  border: 1px solid;
  backdrop-filter: blur(8px);
  text-transform: uppercase;
}